<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handwritten Recognition</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='drawingboard.js/drawingboard.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>Handwritten Recognition</h1>
        <h3><span>Predict: </span><span id="label"></span></h3>
        <div id="board"></div>
    </div>
    
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='drawingboard.js/drawingboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>