body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: block;
    width: 400px;
    height: 400px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #board {
        display: block;
        width: 100%;
        height: 100%;
    }
}